@font-face {
    font-family: "{{fontName}}";
    src: {{{src}}};
}

@mixin {{className}}-styles {
    font-family: "{{fontName}}";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%{{className}} {
    @include {{className}}-styles;
}

@function {{className}}-char($filename) {
    $char: "";
    {{#each codepoints}}
        @if $filename == {{@key}} {
            $char: "\\{{this}}";
        }
    {{/each}}
    @return $char;
}

@mixin {{className}}($filename, $insert: before, $extend: true) {
    &:#{$insert} {
        @if $extend {
            @extend %{{className}};
        } @else {
            @include {{className}}-styles;
        }
        content: {{className}}-char($filename);
    }
}

{{#each codepoints}}
.{{../className}}-{{@key}} {
    @include {{../className}}({{@key}});
}
{{/each}}
